<footer id="footer">
	<div class="inner">
		<ul class="icons">
			{% if site.twitter_url %}
			<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
			{% endif %}
			{% if site.facebook_url %}
			<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
			{% endif %}
			{% if site.instagram_url %}
			<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
			{% endif %}
			{% if site.gitlab_url %}
			<li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
			{% endif %}
			{% if site.github_url %}
			<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
			{% endif %}
			{% if site.slack_url %}
			<li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
			{% endif %}
			{% if site.linkedin_url %}
			<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
			{% endif %}
		</ul>
		<ul class="copyright">
			<li><a href="https://www.legal.io">&copy; Legal.io</a></li>
			<li>SALI: <a href="https://sali.org" target="_blank" rel="noopener">sali.org</a></li>
			<li>LMSS is published by the <a href="https://sali.org" target="_blank" rel="noopener">SALI Alliance</a> under <a href="https://github.com/sali-legal/LMSS/blob/main/LICENSE" target="_blank" rel="noopener">its own licence</a></li>
			<li><a href="/talk-to-us">Contact</a></li>

		</ul>
	</div>
</footer>


<!-- Scripts -->
<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
